@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Cores */
    --cor-primaria: #7fa856;
    --cor-secundaria: #EBECD0;
    --cor-terciaria: #bebea9;
    --cor-quarta: #8f4e49;
    --branco: #496a8f;
    --preto: #000;
    /* Fontes */
    --fonte-primaria: "Poppins", sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    font-family: var(--fonte-primaria);
    color: var(--preto);
}

#tabuleiro {
    border: 2px solid var(--preto);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.coluna-tabuleiro {
    width: 80px;
    height: 80px;
    background-color: var(--cor-primaria);
    text-align: center;
    position: relative;
    transition: .5s ease-in-out;
}

.linha-tabuleiro:nth-child(even)
.coluna-tabuleiro:nth-child(even) {
    background-color: var(--cor-secundaria);
}

.linha-tabuleiro:nth-child(odd)
.coluna-tabuleiro:nth-child(odd) {
    background-color: var(--cor-secundaria);
}

.identificador-linha,
.identificador-coluna {
    position: absolute;
    font-size: 1rem;
    font-weight: 600;
}

.identificador-linha {
    left: 5px;
    top: 5px;
    color: var(--cor-primaria);
}

.identificador-coluna {
    right: 5px;
    bottom: 5px;
    color: var(--cor-secundaria);
}

.linha-tabuleiro:nth-child(even) .identificador-linha {
    color: var(--cor-secundaria);
}

.coluna-tabuleiro:nth-child(even) .identificador-coluna {
    color: var(--cor-primaria);
}

.img-peca {
    font-size: 38px;
    margin: 20px 0;
    color: var(--cor-quarta);
    cursor: grab;
}

.peca-branca {
    color: var(--branco);
}